select {
/* 	padding-top: 10px;
	padding-right: 0.5em;
	padding-bottom: 10px; */
	padding-left: 0.3em; 
	
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #828282;
   background-image: none;
   flex: 1;
/*    padding: 0 .5em; */
   color:#fff;
   cursor:pointer;
/*    font-size: 1em;
   font-family: 'Open Sans', sans-serif; */
   font: 3vh "KumbhSans-Regular"
}
select::-ms-expand {
   display: none;
}
select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   line-height: 3;
   background: #828282;
   overflow: hidden;
   border-radius: .25em;
}
select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
select:hover::after {
   color: #23b499;
}

/* SLIDER BARS */
