<div id="breadcrumbs">
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
{% if page.url contains '/index/' %}
  {% assign new_crumbs = '' | split: '' %}
  {% for crumb in crumbs %}
    {% if forloop.last %}
      {% continue %}
    {% endif %}
    {% assign new_crumbs = new_crumbs | push: crumb %}
  {% endfor %}
  {% assign crumbs = new_crumbs %}
{% endif %}
<a href="/">Home</a>
{% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
    / {{ page.title }}
  {% else %}
  / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% capture path %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}{% endcapture %}{% assign path = path | replace:'//','/' %}{% if path == '/games/' %}/games{% else %}{{ path }}{% endif %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
  {% endif %}
{% endfor %}
</div>